@tailwind base;
@tailwind components;
@tailwind utilities;


body {
    /* background-color: rgb(147, 197, 253); */
    /* background-image: radial-gradient(
            at 18% 40%,
            rgb(196, 181, 253) 0,
            transparent 69%
        ),
        radial-gradient(at 19% 77%, rgb(94, 41, 102) 0, transparent 100%),
        radial-gradient(at 4% 96%, rgb(75, 55, 55) 0, transparent 16%),
        radial-gradient(at 67% 2%, rgb(255, 255, 255) 0, transparent 59%),
        radial-gradient(at 48% 84%, rgb(63, 123, 99) 0, transparent 90%),
        radial-gradient(at 32% 24%, rgb(46, 37, 142) 0, transparent 89%); */
}

@layer base {
    h1 {
        @apply text-2xl;
    }
    h2 {
        @apply text-xl;
    }
    h3 {
        @apply text-lg;
    }
    /* ... */
}
/* width */




@layer utilities {
    .text-balance {
        text-wrap: balance;
    }
}



body::-webkit-scrollbar { width: 10px; }

body::-webkit-scrollbar-track { background: var(--smoky-black); }

body::-webkit-scrollbar-thumb {
    border: 5px solid var(--smoky-black);
    background: hsla(0, 0%, 100%, 0.1);
    border-radius: 20px;
    box-shadow: inset 1px 1px 0 hsla(0, 0%, 100%, 0.11),
                inset -1px -1px 0 hsla(0, 0%, 100%, 0.11);
}

body::-webkit-scrollbar-thumb:hover { background: hsla(0, 0%, 100%, 0.15); }

body::-webkit-scrollbar-button { height: 60px; }

.has-scrollbar::-webkit-scrollbar{
    width: 4px;
    height: 8px;
}
.has-scrollbar::-webkit-scrollbar-track{
    background:hsla(0, 0%, 100%, 0.1);
    border-radius: 10px;
}
.has-scrollbar::-webkit-scrollbar-thumb{
    border-radius: 10px;
    background:hsl(45, 54%, 58%);
    box-shadow: inset 1px 1px 0 hsla(0, 0%, 100%, 0.11),
                inset -1px -1px 0 hsla(0, 0%, 100%, 0.11);
}

.has-scrollbar::-webkit-scrollbar-button{
    border-radius: 5px ;
    width: 100px;
}